<div class="row event-details">
    <div class="col-md-12 text-center overflow-hidden">
      {{#with event}}
      <img class="details-img"
        src="{{imageURL}}" />
      <div class="my-3 p-3">
        <h2 class="display-5">{{name}}</h2>
        <p class="infoType">Description:</p>
        <p class="event-description">{{description}}</p>
        <p class="infoType">Date: <small>{{dateTime}}</small></p>
        <p class="infoType">People interested in: <small>{{peoples}}</small></p>
        {{/with}}
        <p class="infoType">Organizer: <small>{{username}}</small></p>
      </div>
      {{#if isOwner}}
      {{#with event}}
      <a href="#/edit/{{objectId}}" class="btn btn-primary btn-lg">Edit the event</a>
      <a href="#/delete/{{objectId}}" class="btn btn-danger btn-lg">Close the event</a>
      {{/with}}
      {{else}}
      {{#with event}}
      <a href="#/join/{{objectId}}" class="btn btn-info btn-lg">Join the event</a>
      {{/with}}
      {{/if}}
    </div>
  </div>